<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Văn hóa du lịch Nghệ An</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon" />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  </head>

  <body>
    <h1>Bãi Biển Cửa Lò</h1>
    <h3>Giới thiệu</h3>
    <p>
      Đây là một trong những bãi biển nổi tiếng nhất của du lịch Nghệ An với
      lượng khách du lịch đổ về đông vô cùng vào mùa hè. Đây cũng là một địa
      điểm chụp ảnh lý tưởng khi bạn sẽ được thoải mái tạo dáng bên bãi biển,
      cồn cát hay có thể bắt ngay những khoảnh khắc đẹp nhất khi bạn đạp xe đạp
      đôi dạo quanh đây, công viên ở đây hay những khu vực mọc rất nhiều cây
      thông. Bạn có thể tự mình thuê phòng khách sạn gần bãi biển Cửa Lò để
      thuận tiện cho việc tham quan, du lịch nhé
    </p>
    <h3>Địa chỉ</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52174.269373095034!2d105.70406407935245!3d18.783768183781344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139d46b14841103%3A0xd020a3aa72175ad2!2zQ-G7rWEgTMOyLCBOZ2hlIEFuLCBWaWV0bmFt!5e1!3m2!1sen!2s!4v1592632632028!5m2!1sen!2s"
      width="600"
      height="450"
      frameborder="0"
      style="border: 0;"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
    <h3>Địa điểm nghỉ</h3>
    <iframe
      src="https://www.booking.com/searchresults.vi.html?aid=356980;label=gog235jc-1DCAMYASj0AUIGY3VhLWxvSCpYA2j0AYgBAZgBKrgBF8gBDNgBA-gBAfgBAogCAagCA7gC6t229wXAAgHSAiRlMTMxYWExNy05N2YyLTQ5MDEtOGNkNi0xOTgzYTk5YjM4YTDYAgTgAgE;sid=cd094eed5ede2e066cc897ecb34af783;atlas_src=lp_map;checkin=2020-06-26;checkout=2020-06-27;dest_id=-3711514;dest_type=city;ppt=beach&;map=1#map_opened"
      width="100%"
      height="600"
      frameborder="0"
      style="border: 0;"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    >
</iframe>
  </body>
</html>
