<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Văn hóa du lịch Nghệ An</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon" />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  </head>

  <body>
    <h1>Đồi chè Thanh Chương</h1>
    <h3>Giới thiệu</h3>
    <p>
        Nằm ở miền Tây xứ Nghệ, nơi nổi tiếng với khí hậu khô nóng, khắc nghiệt vô cùng nhưng bạn sẽ cảm giác hạ nhiệt hẳn khi bước vào “ốc đảo” chè ở huyện Thanh Chương. Những quả đồi được phủ bởi màu xanh ngắt ngút ngàn của những cây chè, đan xen giữa những khu đồi là những hồ nước được phản chiếu màu chè. Khi những tia nắng bắt đầu ngày mới tỏa sáng, cả đồi chè trở nên đẹp rực rỡ cùng làn không khí trong lành khiến bạn không khỏi ngạc nhiên.
    </p>
    <h3>Địa chỉ Và các quán ăn, nhà nghỉ</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d894.9010545001797!2d105.28124498873837!3d18.731163399791964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6ce1335447f29461!2zxJDhu5NpIENow6ggVGhhbmggQ2jGsMahbmcgLSBNci5UaOG7jSB0b3VyIGd1aWRl!5e1!3m2!1sen!2s!4v1592635735927!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


</iframe>
  </body>
</html>
